:root {
    --clr1: #2E3A59;
    --clr2: #9B51E0;

    --clr1bg: #F7FAFC;
    --clr1bg-light: #FFFFFF;
    --clr2bg: #F0E6FF;
    --clr2bg-light: #F7F0FF;

    --gray1: #E2E8F0;
    --gray2: #A0AEC0;
    --gray3: #1A202C;
}