button,
.btn {
    background-color: var(--clr2);
    color: white;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover,
.btn:hover {
    background-color: #7A3ECC;
    transition: background-color 0.3s ease;
}